@mixin box-header() {
    .box-header {
        background-color: #f2f2f2;
        font-weight: 400;
        font-size: 13px;
        height: 40px;
        padding-top: 10px;
    }
}

@mixin box-content() {
    .box-content {
        position: relative;
        margin: 20px auto 15px;
        width: 130px;
        height: 130px;
    }
}

@mixin box-foot() {
    .box-foot {
        position: relative;
        font-size: 13px;
        font-weight: 400; 
        padding: 0 20px;
        .box-foot-stats {
            font-size: 15px;
        }
        .box-foot-left {
            float: left;
            text-align: left;
        }
        .box-foot-right {
            float: right;
            text-align: right;
        }
        .arrow {
            display: none;
            position: absolute;
            width: 15px;
            height: 15px;
        }
    }
}

* {
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #7f7e7e;
  line-height: normal;
  font-size: 16px;
  background-color: #ececec;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

h2 {
  margin: 35px;
  font-weight: 300;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
    margin: 0 !important;
}

.block {
    margin: 5px 0;
}

.dtp {
    z-index: 10000 !important;
}

.report-statistic-box {
    float: left;
    width: 25%;
    height: 260px;
    background-color: #fafafa;
    border-right: 2px solid #ececec;
    box-sizing: border-box;
    text-align: center;
    @include box-header();
    @include box-content();
    @include box-foot();
}

.report-register-box {
    margin: 0 auto;
    width: 50%;
    height: 310px;
    background-color: #fafafa;
    border-right: 2px solid #ececec;
    box-sizing: border-box;
    text-align: center;
    input {
        width: 100%;
        height: 28px;
    }

    td {
        line-height: 28px;
    }
    @include box-header();
    @include box-content();
    @include box-foot();
}

.report-config-box {
    float: left;
    width: 25%;
    height: 260px;
    background-color: #fafafa;
    border-right: 2px solid #ececec;
    box-sizing: border-box;
    text-align: center;
    @include box-header();
    @include box-content();
    @include box-foot();
}

.report-depend-box {
    float: left;
    width: 25%;
    height: 260px;
    background-color: #fafafa;
    border-right: 2px solid #ececec;
    box-sizing: border-box;
    text-align: center;
    @include box-header();
    @include box-content();
    @include box-foot();
}

.report-information-box {
    float: left;
    width: 25%;
    height: 304px;
    background-color: #fafafa;
    border-right: 2px solid #ececec;
    box-sizing: border-box;
    text-align: center;
    @include box-header();
    @include box-content();
    @include box-foot();

    .notice_wrap {
        position:relative;

        .notice {
            width:70px;
            height:18px;
            line-height:20px;
            font-size:10px;
            color:#fff;
            text-align:center;
            background-color:#f00;
            border-radius:15px;
            position:absolute;
            right:-10px;
            top:-10px;
        }
    }
}

.report-linechart-box {
    float: left;
    width: 100%;
    background-color: #fafafa;
    border-right: 2px solid #ececec;
    box-sizing: border-box;
    text-align: center;
    @include box-header();
    @include box-foot();
    .box-foot {
        padding: 3px 7px;
        .displayDepend, .display {
            width: 250px !important;
            margin: 0 10px !important;
        }
        .displayDepend {
            float: left !important;
        }
        .display {
            float: left !important;
        }
        select.displayDepend,
        select.display {
            display: none !important
        }
    }
}

@media (max-width: 1500px) {
    .report-linechart-box {
        .box-foot {
            .displayDepend, .display {
                margin: 0 5px !important;
                width: 20% !important;
            }
        }
    }
}

@media (max-width: 850px) {
    .report-statistic-box {
        width: 50%;
    }

    .report-register-box, .report-config-box, .report-information-box, .report-depend-box {
        width: 50%;
    }

    .report-linechart-box {
        height: 420px;
        .box-foot {
            .box-foot-right {
                position: absolute;
                top: 40px;
                text-align:left;
            }
            
            .displayDepend, .display {
                float: right !important;
            }
        }
    }
}

@media (max-width: 500px) {
    .report-register-box, .report-config-box, .report-information-box, .report-statistic-box, .report-depend-box {
        width: 100%;
    }

    .report-linechart-box {
        .box-foot {
            .displayDepend, .display {
                margin: 0 5px !important;
                width: 100px !important;
            }
        }
    }
}



@media (max-width: 330px) {
    .report-linechart-box {
        height: 420px;
        .box-foot {
            .displayDepend, .display {
                display: none !important;
            }
        }
    }
}

/// Dashboard Style Head
.rad-navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 10000;

    .rad-logo-container {
        width: 225px;
        text-align: center;
        height: 50px;
        float: left;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        .rad-toggle-btn,
        .rad-logo {
            text-decoration: none;
            position: relative;
            left: -15px;
            height: 50px;
            line-height: 50px;
            font-size: 22px;
            font-weight: 900;
            text-transform: uppercase;
            text-decoration: none;
            color: #222533;
            display: inline-block;
        }

        .rad-toggle-btn:hover {
            background: #9494b8;
        }
    }

    .rad-top-nav-container {
        float: right;
        border-bottom: 1px solid #F2F2F2;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        
        .links {
            margin-right: 30px;
            position: relative;
            margin-bottom: 0;

            li {
                list-style: none;
                position: relative;
                margin: 10px;
                display: inline-block;

                .rad-menu-item {
                    position: relative;
                    padding: 0 10px;
                    line-height: 30px;
                    height: 30px;
                    color: #89949B;
                    z-index: 5;
                    .rad-menu-badge {
                        position: absolute;
                        min-width: 20px;
                        min-height: 20px;
                        line-height: 20px;
                        font-weight: bold;
                        color: white;
                        border-radius: 100%;
                        font-size: 12px;
                        background: #E94B3B;
                        box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
                        display: inline-block;
                        text-align: center;
                        top: -10px;
                        z-index: 1;
                    }
                }

                .rad-dropmenu-item {
                    position: absolute;
                    z-index: 9999;
                    right: 0;
                    top: 40px;
                    min-width: 250px;
                    background: white;
                    border-top: 5px solid #2f4050;
                    border-radius: 2px;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                    display: none;
                    padding: 0;
                    &:before {
                        content: "";
                        position: absolute;
                        border-width: 0 10px 10px 10px;
                        border-style: solid;
                        border-color: #2f4050 transparent;
                        top: -14px;
                        right: 8px;
                    }

                    .rad-dropmenu-footer,
                    .rad-dropmenu-header {
                        display: block !important;
                        background: #F9FAFB;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 12px;
                        margin: 0 !important;
                        padding: 6px;
                        text-align: center;
                        > a {
                            color: #98A0A3;
                            line-height: 12px;
                            text-decoration: none;
                        }
                    }

                    .rad-dropmenu-header {
                        border-bottom: 1px solid #F2F2F2;
                    }

                    .rad-dropmenu-footer {
                        border-top: 1px solid #F2F2F2;
                    }
                }

                .rad-dropmenu-item.active {
                    display: block;
                    -webkit-animation: flipInX .3s ease;
                }
            }
        }
    }

    .rad-floor-nav-container {
        display: none;
    }
}

/// Dashboard Style Sidebar
.rad-sidebar {
    z-index: 9999;
    position: fixed;
    background: #2f4050;
    width: 225px;
    height: 100vh;
    top: 50px;
    left: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    > ul {
        padding: 0;
        > li {
            text-align: left;
            height: 50px;
            > a {
                text-decoration: none;
                height: 50px;
                display: block;
                color: white;
                > i {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    &:before {
                        z-index: 10;
                        position: relative;
                    }

                    .icon-bg {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 1;
                        width: 100%;
                        -webkit-transform: translate3d(-47px, 0, 0);
                        transform: translate3d(-47px, 0, 0);
                        -webkit-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
                    }
                }
                > span {
                    display: inline-block;
                    padding-left: 10px;
                    -webkit-transition: all .2s ease-in-out;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                }
            }

            &:hover {
                background: #263340;
            }

            &:hover .icon-bg {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }


    .rad-bg-floor-all {
        background: #1C7EBB;
    }

    .rad-bg-floor-1 {
        background: #23AE89;
    }

    .rad-bg-floor-2 {
        background: #E94B3B;
    }

    .rad-bg-floor-3 {
        background: #F98E33;
    }

    .rad-bg-floor-4 {
        background: #6A55C2;
    }
}

.rad-sidebar.rad-nav-min {
    width: 50px !important;
    .rad-sidebar-item {
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0);
    }

    .icon-bg {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        &:hover {
            opacity: .4;
        }
    }
}

/// Dashboard Style Content
.rad-body-wrapper {
  position: absolute;
  left: 250px;
  top: 75px;
  width: auto;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.rad-body-wrapper.rad-nav-min {
  left: 50px;
}
/// Dashboard Style Overall
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
@media screen and (max-width: 1100px) {
    .rad-navigation {
        height: 100px;
        .rad-logo-container {
            display: block;
            float: left;
            border-bottom: 1px solid #F2F2F2;
            .rad-menu-badge {
                font-size: 10px;
                min-width: 15px;
                min-height: 15px;
                line-height: 15px;
            }
            .rad-toggle-btn {
                display: none;
            }
        }
        .rad-top-nav-container {
            display: block;
            float: none;
            height: 50px;
            font-size: 12px;
            background: white;
            .links {
                float: right;
            } 
        }
        .rad-floor-nav-container {
            display: block;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            height: 50px;
            background-color: white;
            .scroll-container{
                overflow-y: hidden;
                overflow-x: auto;
                padding: 0;
                .list-container{  
                    display:inline-flex;             /*  Keep the element in one line */
                    justify-content: space-between;  /*  Not much effect */
                    align-items: stretch;            /*  Make them all the same height */
                    flex-wrap: no-wrap;              /*  This one makes the trick */
                    padding: 0;
                        > *{       /*  Target only the first top level children */
                        color: #89949b;
                        background-color: white;
                        list-style-type: none;
                        border-right: 1px solid #F2F2F2;
                        &:last-child {
                            margin-right: 0;
                            border: none;
                        }
                        a {
                            display: block;
                            width: 70px;
                            i {
                                &:before {
                                    position: relative;
                                    top: 2px;
                                }
                            }
                        }
                    }

                    li {
                        padding: 0 3em;
                        line-height: 50px;
                    }
                }
            }
        }
    }

    .rad-sidebar {
        display: none;
        top: 150px;  
    }

    .rad-sidebar.rad-nav-min {
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0);
    }

    .rad-body-wrapper {
        top: 150px;
        left: 0;
        position: relative;
    }
    .rad-body-wrapper.rad-nav-min {
        left: 0px;
    } 
}

@media screen and (max-width: 500px) { 
    .rad-navigation .rad-logo-container {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    green;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    green;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    green;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    green;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    green;
}

// 呼吸燈
.breath-light {
    color: white;
    background-color: #93bde6 !important;

    box-shadow: 0 0 60px #FFFFFF;

    -webkit-animation: breath 3s; 
            animation: breath 3s;

    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;

    &:hover {
        color: #7f7e7e;
    }
}

$breath-opacity: 0.5;

@-webkit-keyframes breath {
  0%    {opacity: $breath-opacity;}
  60%   {opacity:   1;}
  100%  {opacity: $breath-opacity;}
}
@-o-keyframes breath {
  0%    {opacity: $breath-opacity;}
  60%   {opacity:   1;}
  100%  {opacity: $breath-opacity;}
}
@-moz-keyframes breath {
  0%    {opacity: $breath-opacity;}
  60%   {opacity:   1;}
  100%  {opacity: $breath-opacity;}
}
@keyframes breath {
  0%    {opacity: $breath-opacity;}
  60%   {opacity:   1;}
  100%  {opacity: $breath-opacity;}
}