@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

$main-color: #d6d6d6;
$main-color-s: #d6d6d6;
$main-color-ss: #7f7e7e;;

body {
    margin: 0px;
    padding: 0px;
    background-color:$main-color;
}

.screen {
    width:100%;
    height:100%;
    margin: 0px auto;
    background-color:$main-color;
    .form {
        width: 370px;
        height: 290px;
        background: #edeff1;
        margin: 0px auto;
        margin-top: 70px;
        padding-top: 20px;
        @include border-radius(10px);
        @media screen and (max-width: 400px) {
            width: 100%;
            @include border-radius(0px);
        }

        div#message {
            display: block;
            height: 23px;
            margin: 15px auto;
            text-align: center;
            font-size: 13px;
            color: white;
            line-height: 23px;
            background:red;
            border: 0px;
            padding: 5px 0;
            @media screen and (max-width: 400px) {
                width: 100%;
            }
        }

        input {
            &[type="text"], &[type="password"] {
                display: block;
                width: 309px;
                height: 23px;
                margin: 15px auto;
                background: #fff;
                border: 0px;
                padding: 5px;
                border: 2px solid #fff;
                &:focus {
                    border: 2px solid $main-color-s;
                }
                @media screen and (max-width: 400px) {
                    width: 80%;
                }
            }

            &[type="button"] {
                float: left;
                background: $main-color-s;
                width: 50%;
                padding: 12px 0;
                cursor: pointer;
                color: #fff;
                border: 0px;
                @include border-radius(0);
                &:hover {
                    background: $main-color-ss;
                }
                @media screen and (max-width: 400px) {
                    width: 80%;
                }
            }

            font-size: 13px;
            transition: all 0.3s ease;
            @include border-radius(5px);
        }
    }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    font-style:italic;
    color: gray;
    font-weight:100;
}