@mixin box-header() {
    .box-header {
        background-color: #f2f2f2;
        font-weight: 400;
        font-size: 13px;
        height: 40px;
        padding-top: 10px;
    }
}

@mixin box-content() {
    .box-content {
        position: relative;
        margin: 20px auto 15px;
        width: 130px;
        height: 130px;
    }
}

@mixin box-foot() {
    .box-foot {
        position: relative;
        font-size: 13px;
        font-weight: 400; 
        padding: 0 20px;
        .box-foot-stats {
            font-size: 15px;
        }
        .box-foot-left {
            float: left;
            text-align: left;
        }
        .box-foot-right {
            float: right;
            text-align: right;
        }
        .arrow {
            display: none;
            position: absolute;
            width: 15px;
            height: 15px;
        }
    }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #7f7e7e;
  background-color: #ececec;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 35px;
  font-weight: 300;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
    margin: 0 !important;
}

.block {
    margin: 5px 0;
}

.report-statistic-box {
    float: left;
    width: 25%;
    height: 260px;
    background-color: #fafafa;
    border-right: 2px solid #ececec;
    box-sizing: border-box;
    text-align: center;
    @include box-header();
    @include box-content();
    @include box-foot();
}

.report-linechart-box {
    float: left;
    width: 100%;
    background-color: #fafafa;
    border-right: 2px solid #ececec;
    box-sizing: border-box;
    text-align: center;
    @include box-header();
    @include box-foot();
    .box-foot {
        padding: 3px 7px;
    }
}

@media (max-width: 1024px) {
  .report-statistic-box {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .report-statistic-box {
    width: 100%;
  }
}