body {
  margin: 0px;
  padding: 0px;
  background-color: #d6d6d6; }

.screen {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: #d6d6d6; }
  .screen .form {
    width: 370px;
    height: 210px;
    background: #edeff1;
    margin: 0px auto;
    margin-top: 70px;
    padding-top: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    @media screen and (max-width: 400px) {
      .screen .form {
        width: 100%;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px; } }
    .screen .form div#message {
      display: block;
      height: 23px;
      margin: 15px auto;
      text-align: center;
      font-size: 13px;
      color: white;
      line-height: 23px;
      background: red;
      border: 0px;
      padding: 5px 0; }
      @media screen and (max-width: 400px) {
        .screen .form div#message {
          width: 100%; } }
    .screen .form input {
      font-size: 13px;
      transition: all 0.3s ease;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .screen .form input[type="text"], .screen .form input[type="password"] {
        display: block;
        width: 309px;
        height: 23px;
        margin: 15px auto;
        background: #fff;
        border: 0px;
        padding: 5px;
        border: 2px solid #fff; }
        .screen .form input[type="text"]:focus, .screen .form input[type="password"]:focus {
          border: 2px solid #d6d6d6; }
        @media screen and (max-width: 400px) {
          .screen .form input[type="text"], .screen .form input[type="password"] {
            width: 80%; } }
      .screen .form input[type="button"] {
        float: left;
        background: #d6d6d6;
        width: 50%;
        padding: 12px 0;
        cursor: pointer;
        color: #fff;
        border: 0px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0; }
        .screen .form input[type="button"]:hover {
          background: #7f7e7e; }
    .screen .form input#register {
      width: 100%;
      margin-top: 1px; }

::-webkit-input-placeholder {
  font-style: italic;
  color: gray;
  font-weight: 100; }

:-moz-placeholder {
  font-style: italic;
  color: gray;
  font-weight: 100; }

::-moz-placeholder {
  font-style: italic;
  color: gray;
  font-weight: 100; }

:-ms-input-placeholder {
  font-style: italic;
  color: gray;
  font-weight: 100; }
